<h1>welcome to your jobTracker</h1>
<h4>where you'll track all your (potential) jobs.</h4>

<% if current_user %>
  <%= link_to "Homepage", user_path(@user) %>
<% else %>
  
  <%= render partial: "sessions/login" %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |err| %>
      <p><%= err %></p>
    <% end %>
  <% end %>
  <%= render partial: "form" %>
<% end %>